<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Create a listing</title>

    <script>
        function submitForms() {
            const selectedFile = document.getElementById('image').files[0];
            document.getElementById("textInput").action = '/add-listing';
            document.getElementById("imageInput").action = '/upload';
        }
    </script>
</head>

<body>

    <div class="listing-container">
        <h1>Create a Listing</h1>

        <hr size="2" width="90%" color=#0c7742>

        <form class="listing-form" id="textInput" action=" /add-listing" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <input type="email" class="listing-input" id="email" name="email" class="form-control"
                    placeholder="Email" {{#if email}} value={{email}} {{/if}} />
                <label for="email">Enter Your Email</label>
            </div>

            <div class="form-group">
                <input type="name" class="listing-input" id="name" name="name" class="form-control"
                    placeholder="Listing Name" {{#if name}} value={{name}} {{/if}} />
                <label for="name">Enter Listing Name</label>
            </div>

            <div class="form-group">
                <input type="streetAddress" class="listing-input" id="streetAddress" name="streetAddress"
                    class="form-control" placeholder="Street Address" {{#if streetAddress}} value={{streetAddress}}
                    {{/if}} />
                <label for="streetAddress">Enter Street Address</label>
            </div>

            <div class="form-group">
                <input type="city" class="listing-input" id="city" name="city" class="form-control" placeholder="City"
                    {{#if city}} value={{city}} {{/if}} />
                <label for="city">Enter City</label>
            </div>

            <div class="form-group">
                <input type="state" class="listing-input" id="state" name="state" class="form-control"
                    placeholder="State" />
                <label for="state">Enter State</label>
            </div>

            <div class="form-group">
                <input type="zip" class="listing-input" id="zip" name="zip" class="form-control"
                    placeholder="Zip Code" />
                <label for="zip">Enter Zip Code</label>
            </div>

            <div class="form-description-box">
                <textarea type="description" class="listing-textbox" id="description" name="description"
                    placeholder="House Description" cols="30" rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <input type="file" name="image" id="image" class="custom-file-input">
                <label for="image" class="custom-file-label">Upload an Image</label>
            </div>


            <label class="listing-check">Grill
                <input type="checkbox" name="amenities" value="Grill">
                <span class="checkmark"></span>
            </label>
            <label class="listing-check">Dryer
                <input type="checkbox" name="amenities" value="Dryer">
                <span class="checkmark"></span>
            </label>
            <label class="listing-check">Washer
                <input type="checkbox" name="amenities" value="Washer">
                <span class="checkmark"></span>
            </label>
            <label class="listing-check">Internet
                <input type="checkbox" name="amenities" value="Internet">
                <span class="checkmark"></span>
            </label>
            <label class="listing-check">Pool
                <input type="checkbox" name="amenities" value="Pool">
                <span class="checkmark"></span>
            </label>
            <label class="listing-check">TV
                <input type="checkbox" name="amenities" value="TV">
                <span class="checkmark"></span>
            </label>
            <label class="listing-check">Board Games
                <input type="checkbox" name="amenities" value="Board Games">
                <span class="checkmark"></span>
            </label>

            <!--
            <form id="imageInput" class="listing-input" action="/upload" method="POST" enctype="multipart/form-data">
            <button type="submit" value="Submit"
            class="upload-button">Upload Image</button>
            -->

            <div class="invis">
                <input type="hidden" class="listing-input" id="id" name="id" class="form-control" value={{userID}} />
            </div>



        </form>

        <button class="listing-submit-button" type="submit" value="submit">
            Submit
        </button>
    </div>

</body>

</html>