<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About Us</title>

        <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: {{latitude}}, lng: {{longitude}} },
          zoom: 13,
        });

          const marker = new google.maps.Marker({
            position: { lat: {{latitude}}, lng: {{longitude}} },
            map: map,
           });
      }
      
    </script>
</head>

<body class="house-view">

    <h1>{{listing.name}} hosted by {{listing.email}}</h1>
    
    <h3> {{listing.description}}</h3>
    <hr>

    <h3>Amenities</h3>
    
    <ul class="amenities-list">
        {{#each listing.amenities}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <hr>


    <h3>Located in {{listing.city}}, {{listing.state}}</h3>

    <div id="map" name="map"></div>

    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUo99cCKpUBKbERNPyP399gYX3GLe05Rs&callback=initMap&libraries=&v=weekly"
      async
    ></script>

    
    
</body>
</html>