<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
<script>var speechRecognition = window.webkitSpeechRecognition


var recognition = new speechRecognition()

var searchbar = document.getElementById("searchbar")

var instructions = document.getElementById("instructions")

var startbtn = document.getElementById("start-btn")



recognition.continuous = false



recognition.onresult = function (event) {
  
  var current = event.resultIndex;

  var transcript = event.results[current][0].transcript

  document.getElementById("searchbar").value = transcript
  
}



function speech(event) {
    recognition.start()
}
</script>
  <title>Housing</title>
</head>

<body>
  {{!-- <h1>View the Listings Here:</h1>

  <p>Long-term rentals</p>
  <p>Short term-rentals</p> --}}



  <form action="/housing" method="GET" class="form-inline">
    <div class="search-form-group">
      <button type="button" id="start-btn" onclick="speech()" class="voice-search-button">&#127908</button>
      <input type="text" id="searchbar" name="search" class="search-bar" placeholder="Listing search..." class="form-control">
      <input type="submit" value="&#128269" class="search-btn">
    </div>


      <p id="instructions"></p>
        
        {{!--<h4>{{Listing[0].state}}</h4>--}}
    

      <div class="wrapper">
        <ul class="housingList">
          <!-- Cant figue out how to get the values by themself #yeet-->
        {{#each Listing}}
        <li>
          <div class="housingCard">
            <a href="/housing/{{this._id}}"><img src="{{this.image}}" class="cardImage"></a>
            <h3>{{this.name}}</h3>
            <p>{{this.streetAddress}}, {{this.city}}</p>
          </div>
        </li>

        {{/each}} 
        </ul>
    </div>
    

  </form>

</body>
</html>