<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Test</title>
</head>

<body>
    <div class="containter">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center display-4 my-4">File Upload Test</h1>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="custom-file mb-3">
                        <input type="file" name="file" id="file" class="custom-file-input">
                        <label for="file" class="custom-file-label">Choose file</label>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
                <hr>
                {{#if files}}
                    {{#each files}}
                        <div class="card card-body mb-3">
                            {{#if this.isImage}}
                                <img src="images/{{filename}}" style="width:100px;height:100px;">
                            {{else}}
                                <p>{{filename}}</p>
                            {{/if}}
                            <form method="POST" action="/images/{{_id}}?_method=DELETE">
                            <button class="btn btn-danger btn-block mt-4">DELETE</button>
                            </form>
                        </div>
                    {{/each}}
                {{else}}
                    <p>No files found</p>
                {{/if}}
                </hr>
            </div>
        </div>
    </div>
    
</body>
</html>